apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ environ('new_master_node') }}
  namespace: openshift-machine-api
spec:
  automatedCleaningMode: metadata
  bmc:
    address: ""
    credentialsName: ""
  bootMACAddress: 00:00:00:00:00:02
  bootMode: {{ environ('boot_mode') }}
  consumerRef:
    apiVersion: machine.openshift.io/v1beta1
    kind: Machine
    name: {{ environ('new_machine_name') }}
    namespace: openshift-machine-api
  customDeploy:
    method: install_coreos
  externallyProvisioned: true
  hardwareProfile: unknown
  online: true
  userData:
    name: master-user-data-managed
    namespace: openshift-machine-api
