apiVersion: agent-install.openshift.io/v1beta1
kind: Agent
metadata:
  name: {{ environ('cluster_name') }}
  namespace: {{ environ('namespace') }}
spec:
  hostname: {{ worker.hostname }}
  approved: true
