---
apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  labels:
    infraenvs.agent-install.openshift.io: {{ environ('cluster_name') }}
  name: {{ worker.hostname }}
  namespace: {{ environ('cluster_name') }}
spec:
  interfaces:
  - macAddress: {{ worker.network.mac }}
    name: {{ worker.network.interface }}
  config:
    dns-resolver:
      config:
        server:
        {% for dns in worker.network.dns -%}
        - {{ dns }}
        {% endfor -%}
    {% if worker.network.vlan is defined and worker.network.vlan.enabled -%}
    interfaces:
    - name: {{ worker.network.vlan.name }}
      type: vlan
      state: up
      vlan:
        base-iface: {{ worker.network.interface }}
        id: {{ worker.network.vlan.id }}
      {% if worker.network.ipv4.enabled is sameas true -%}
      ipv4:
        address:
        - ip: {{ worker.network.ipv4.ip }}
          prefix-length: {{ worker.network.ipv4.prefix }}
        enabled: {{ worker.network.ipv4.enabled|lower }}
        dhcp: false
      {% endif -%}
      {% if worker.network.ipv6.enabled is sameas true -%}
      ipv6:
        address:
        - ip: {{ worker.network.ipv6.ip }}
          prefix-length: {{ worker.network.ipv6.prefix }}
        enabled: {{ worker.network.ipv6.enabled|lower }}
        dhcp: false
      {% endif %}
    routes:
      config:
      {% if worker.network.ipv4.enabled is sameas true -%}
      - destination: 0.0.0.0/0
        next-hop-address: {{ worker.network.ipv4.gateway }}
        next-hop-interface: {{ worker.network.vlan.name }}
      {% endif -%}
      {% if worker.network.ipv6.enabled is sameas true -%}
      - destination: ::/0
        next-hop-address: {{ worker.network.ipv6.gateway }}
        next-hop-interface: {{ worker.network.vlan.name }}
      {% endif %}
    {% else %}
    interfaces:
    - name: {{ worker.network.interface }}
      type: ethernet
      state: up
      {% if worker.network.ipv4.enabled is sameas true -%}
      ipv4:
        address:
        - ip: {{ worker.network.ipv4.ip }}
          prefix-length: {{ worker.network.ipv4.prefix }}
        enabled: {{ worker.network.ipv4.enabled|lower }}
        dhcp: false
      {% endif -%}
      {% if worker.network.ipv6.enabled is sameas true -%}
      ipv6:
        address:
        - ip: {{ worker.network.ipv6.ip }}
          prefix-length: {{ worker.network.ipv6.prefix }}
        enabled: {{ worker.network.ipv6.enabled|lower }}
        dhcp: false
      {% endif %}
    routes:
      config:
      {% if worker.network.ipv4.enabled is sameas true -%}
      - destination: 0.0.0.0/0
        next-hop-address: {{ worker.network.ipv4.gateway }}
        next-hop-interface: {{ worker.network.interface }}
      {% endif -%}
      {% if worker.network.ipv6.enabled is sameas true -%}
      - destination: ::/0
        next-hop-address: {{ worker.network.ipv6.gateway }}
        next-hop-interface: {{ worker.network.interface }}
      {% endif %}

    {% endif -%}
