apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ environ('cluster_name') }}
  namespace: {{ environ('namespace') }}
spec:
  baseDomain: {{ environ('domain') }}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ environ('cluster_name') }}
    version: v1beta1
  clusterMetadata:
    adminKubeconfigSecretRef:
      name: {{ environ('cluster_name') }}-admin-kubeconfig
    #adminPasswordSecretRef:
      #name: {{ environ('cluster_name') }}-admin-password
    clusterID: {{ environ('cluster_id') }}
    infraID: {{ environ('infra_id') }}
  clusterName: {{ environ('cluster_name') }}
  installed: true
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster-name: {{ environ('cluster_name') }}
  pullSecretRef:
    name: pull-secret
  preserveOnDelete: true