apiVersion: v1
data:
  password: {{ environ('password') }}
  username: {{ environ('username') }}
kind: Secret
metadata:
  name: {{ environ('cluster_name') }}-admin-password
  namespace: {{ environ('namespace') }}
type: Opaque
