apiVersion: v1
data:
  kubeconfig: {{ environ('kubeconfig_secret') }}
kind: Secret
metadata:
  name: {{ environ('cluster_name') }}-admin-kubeconfig
  namespace: {{ environ('namespace') }}
type: Opaque
